.git
.gitignore
.svn
tests/

# configure files
conf/settings.conf

# Data Files
*.zip
*.EOF
*.nc
*.tif
*.xml
*.wbd.json
*.hdr
*.vrt
*.cpt
*.wbd
*.geo
*.html
*.json
*.rdr
*.off
*.full
*.int
*.cor
*.slc
*.wgs84
*.hgt
*_groups.json
*.nc.md5
*.png
*.dataset.json
*.txt
*.txt
*.xrd
*.xsd
*.bak
*.dem
*.safe
*.int
*.amp
*.isce
*.los
*.phsig
*.unw
*.ion
*.lat
*.float
*.geojson
*.sim
*.lon
*.conncomp
**/PICKLE/
**/IMG-HH-*-WBDR1.1__D-F*
**/LED-*-WBDR1.1__D
**/VOL-*-WBDR1.1__D

# Log files
*.log
*isce.log*

!alos2App_processing_template.xml
!alos2App_template.xml

# Config files add back
!conf/dataset_versions.json

# Ignore Notebooks
*.ipynb
notebooks/
!notebooks/0_Download_from_s3.ipynb
!notebooks/1_Get_Metadata.ipynb
!notebooks/2_Downloading_the_DEM.ipynb
!notebooks/3_Water_Mask.ipynb
!notebooks/4_SAR_Processing.ipynb
!notebooks/5_Packaging.ipynb